<html>
  <h1>TRANSACTION DETAILS</h1><br>
  <div class="img">
<div class="table-wrapper">
    <table class="fl-table">
      <thead>
        <tr>
          <th>Tid</th>
          <th>Transaction amount</th>
          <th>Sender</th>
          <th>Receiver</th>
          <th>Date</th>
          <th>Time</th>
          <th>Status</th>
          <th>Blacklist</th>
        </tr>
      </thead>
      <tbody>
     <tr *ngFor="let s of pendingTransactions">
          <td>{{s.tid }}</td>
          <td>{{s.transactionamount}}</td>
          <td>{{s.sender}}</td>
          <td>{{s.receiver}}</td>
          <td>{{s.date}}</td>
          <td>{{s.time}}</td>
          <td>{{s.status}}</td>
          <td>{{s.blacklist}}</td>
          <td><button class="button" type="button" onClick="window.location.reload();" (click)="changestatuspendingtransactions(s.tid)" name="button">Allow</button></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  </html>